*.local.js*
*.development.js*
*.staging.js*
*.production.js*
*.qa.js*
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/pass
server/providers.json
server/datasources.json
CI/PSI/envfiles/datasources.json
client/api/angular2
