[
  {
    "type": "archive",
    "create": {
      "auth": "#datasetOwner",
      "actions": [
        {
          "action": {
            "type": "log"
          }
        },
        {
          "actionType": "validate",
          "jobParamsSchema": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
               "type": "object",
              "properties": {
                "datasetIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                }
              },
              "required": ["datasetIds"]
          }
        },
        {
          "actionType": "url",
          "method": "post",
          "url": "http://localhost:6001/test",
          "body": "Archiving {{#each jobParams.datasetIds}}{{this}}, {{/each}}"
        }
      ]
    },
    "update": {
      "auth": "#datasetOwner",
      "actions": [
        {
          "actionType": "validate",
          "params": {
            "type": "job",
            "field": "status",
            "allowed": [
              "IN_PROGRESS",
              "SUCCESSFUL",
              "FAILED"
            ],
            "transitions": {
              "CREATED": [
                "IN_PROGRESS"
              ],
              "IN_PROGRESS": [
                "SUCCESSFUL",
                "FAILED"
              ]
            }
          }
        },
        {
          "type": "rabbitmq",
          "server": "myrabbitmq.myinstitution.ext",
          "queue": "archive_updates",
          "templates": {
            "status": "{{job.status}}",
            "message": "{{job.message}}",
            "job": "{{job.id}}",
            "token": "{{secrets.jwt_token}}"
          }
        },
        {
          "filter": {
            "status": "SUCCESSFUL"
          },
          "actions": [
            {
              "action": {
                "type": "email",
                "smtp": {
                  "url": "myemailserver.myinstitution.ext",
                  "user": "scicatuser"
                },
                "to": "{{ join job.recipients ' '}}",
                "subject": "Archive job {{job.pid}} has completed.",
                "body": "Dear {{job.owner}},\n\nArchive job {{job.pid}} has completed. Results: {{job.status}}\n"
              }
            },
            {
              "type": "url",
              "url": "myscicat.myinstitution.ext/datablock/archived",
              "verb": "post",
              "headers": {
                "AuthBearer": "{{secrets.jwt_token}}"
              },
              "body": "{ structure to create archive files }"
            }
          ]
        }
      ]
    }
  }
]