[
  {
    "type": "DefaultLogger",
    "modulePath": "./loggingProviders/defaultLogger",
    "config": {},
    "methods": {}
  },
  {
    "type": "GrayLogger",
    "modulePath": "./loggingProviders/grayLogger",
    "config": {
      "facility": "scicatOfficial",
      "environment": "test",
      "server": "localhost",
      "service": "scicat-backend-next",
      "port": 9999
    },
    "methods": {
      "log": "logInfo",
      "error": "logError",
      "warn": "logWarn",
      "debug": "logDebug",
      "exception": "logException"
    }
  }
]
